:root {
  --color-text-A: #ebebeb;
  --color-text-B: #cdd1c4;
  --color-effect-A: #85cc33;
  --color-effect-B: #f21c40;
  --color-background-A: #000e0f;
  --color-background-B: #0f5257;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}